@import "tailwindcss";

::-webkit-scrollbar {
  width: 0px;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border-radius: 8px;
}

.prose th,
.prose td {
  border: 1px solid rgba(255, 255, 255, 0.1); 
  padding: 10px 12px;
  text-align: left;
}

.prose th {
  background-color: #33353761;
  font-weight: normal;
}

